body {
    font-family: 'Montserrat', sans-serif;
}
.nav {
    background-color: #2C3E50;
    padding: 35px 0;
    line-height: 20px;
}

.text-logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
li {
    color: white;
    font-size: 18px;
    font-weight: bold;

}
li:hover {
    color: #1ABC9C;
    cursor: pointer;
}
.start {
    background-color: #1ABC9C;
    padding: 50px 0;
    height: 600px;
}
.start img {
    width: 200px;
}

.start h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
}
.start i {
    color: white;
}
.start p {
    color: white;
    font-size: 25px;
    padding-top: 20px;
}
.line {
    height: 4px;
    width: 80px;
    background-color: white;
    margin-bottom: 10px;
}
section .portfolio {
    padding: 30px 0;
}

.portfolio li  {
    color: #2C3E50;
}
.portfolio .line {
    background-color: #2C3E50;
}
.fa-star {
    font-size: 40px;
}
.portfolio h2 {
    color: #2C3E50;
    font-size: 50px;
    font-weight: bold;
}
.portfolio img {
    width: 350px;
    padding: 25px 0;
}
section.about {
    background-color: #1ABC9C;
    padding: 80px 0
}
section.about h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}
section.about p {
    margin: 40px 0;
    color: white;
    font-size: 18px;
}
.btn {
    background-color:#1ABC9C;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}
.fa-download {
    font-size: 25px;
    margin-right: 10px;
}
